In [454]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objs as go
from plotly.subplots import make_subplots

In [455]:
df = pd.read_csv('/Users/zehrakaya/Documents/GitHub/study-analysis/data/STUDYLOG.csv')

In [456]:
df

,Name,Courses,Date,Created time,Person,Progress,Day,Goal,spent-minutes,what you did,spent-hours
0,1,MATH 116,"March 9, 2023","March 9, 2023 11:32 PM",Zehra,Done,NaN,NaN,50.0,NaN,0.833333
1,DAY 0,PHYS 112,"March 8, 2023","March 9, 2023 11:52 PM",Hosna Roufaida,Done,NaN,NaN,30.0,NaN,0.500000
2,1,MATH 154,"March 10, 2023","March 10, 2023 1:15 PM",Zehra,Done,NaN,50.0,86.0,NaN,1.433333
3,Day 1,PHYS 112,"March 10, 2023","March 10, 2023 4:57 PM",Hosna Roufaida,Done,NaN,NaN,55.0,NaN,0.916667
4,2,MATH 116,"March 11, 2023","March 11, 2023 4:05 PM",Zehra,Done,NaN,120.0,120.0,NaN,2.000000
...,...,...,...,...,...,...,...,...,...,...,...
144,9,ENG 102,"May 13, 2023","July 13, 2023 3:51 PM",Zehra,Done,NaN,NaN,265.0,NaN,4.416667
145,10,ENG 102,"May 26, 2023","July 13, 2023 3:51 PM",Zehra,Done,NaN,NaN,85.0,NaN,1.416667
146,11,ENG 102,"June 3, 2023","July 13, 2023 3:53 PM",Zehra,Done,NaN,NaN,50.0,NaN,0.833333
147,13,ENG 102,"June 6, 2023","July 13, 2023 3:55 PM",Zehra,Done,NaN,NaN,250.0,NaN,4.166667
148,14,ENG 102,"June 10, 2023","July 13, 2023 3:56 PM",Zehra,Done,NaN,NaN,25.0,NaN,0.416667

In [457]:
# get only the Person Zehra's data 
zdf = df[df['Person'] == 'Zehra']

In [458]:
zdf

,Name,Courses,Date,Created time,Person,Progress,Day,Goal,spent-minutes,what you did,spent-hours
0,1,MATH 116,"March 9, 2023","March 9, 2023 11:32 PM",Zehra,Done,NaN,NaN,50.0,NaN,0.833333
2,1,MATH 154,"March 10, 2023","March 10, 2023 1:15 PM",Zehra,Done,NaN,50.0,86.0,NaN,1.433333
4,2,MATH 116,"March 11, 2023","March 11, 2023 4:05 PM",Zehra,Done,NaN,120.0,120.0,NaN,2.000000
6,1,MATH 112,"March 11, 2023","March 11, 2023 11:28 PM",Zehra,Done,NaN,NaN,75.0,NaN,1.250000
7,2,MATH 154,"March 12, 2023","March 12, 2023 5:01 AM",Zehra,Done,NaN,NaN,200.0,NaN,3.333333
...,...,...,...,...,...,...,...,...,...,...,...
144,9,ENG 102,"May 13, 2023","July 13, 2023 3:51 PM",Zehra,Done,NaN,NaN,265.0,NaN,4.416667
145,10,ENG 102,"May 26, 2023","July 13, 2023 3:51 PM",Zehra,Done,NaN,NaN,85.0,NaN,1.416667
146,11,ENG 102,"June 3, 2023","July 13, 2023 3:53 PM",Zehra,Done,NaN,NaN,50.0,NaN,0.833333
147,13,ENG 102,"June 6, 2023","July 13, 2023 3:55 PM",Zehra,Done,NaN,NaN,250.0,NaN,4.166667
148,14,ENG 102,"June 10, 2023","July 13, 2023 3:56 PM",Zehra,Done,NaN,NaN,25.0,NaN,0.416667

In [459]:
# drop Day column
zdf = zdf.drop(['Day'], axis=1)
zdf

,Name,Courses,Date,Created time,Person,Progress,Goal,spent-minutes,what you did,spent-hours
0,1,MATH 116,"March 9, 2023","March 9, 2023 11:32 PM",Zehra,Done,NaN,50.0,NaN,0.833333
2,1,MATH 154,"March 10, 2023","March 10, 2023 1:15 PM",Zehra,Done,50.0,86.0,NaN,1.433333
4,2,MATH 116,"March 11, 2023","March 11, 2023 4:05 PM",Zehra,Done,120.0,120.0,NaN,2.000000
6,1,MATH 112,"March 11, 2023","March 11, 2023 11:28 PM",Zehra,Done,NaN,75.0,NaN,1.250000
7,2,MATH 154,"March 12, 2023","March 12, 2023 5:01 AM",Zehra,Done,NaN,200.0,NaN,3.333333
...,...,...,...,...,...,...,...,...,...,...
144,9,ENG 102,"May 13, 2023","July 13, 2023 3:51 PM",Zehra,Done,NaN,265.0,NaN,4.416667
145,10,ENG 102,"May 26, 2023","July 13, 2023 3:51 PM",Zehra,Done,NaN,85.0,NaN,1.416667
146,11,ENG 102,"June 3, 2023","July 13, 2023 3:53 PM",Zehra,Done,NaN,50.0,NaN,0.833333
147,13,ENG 102,"June 6, 2023","July 13, 2023 3:55 PM",Zehra,Done,NaN,250.0,NaN,4.166667
148,14,ENG 102,"June 10, 2023","July 13, 2023 3:56 PM",Zehra,Done,NaN,25.0,NaN,0.416667

In [460]:
# if spent-hour is zero then drop it 
zdf = zdf[zdf['spent-hours'] != 0]
zdf

,Name,Courses,Date,Created time,Person,Progress,Goal,spent-minutes,what you did,spent-hours
0,1,MATH 116,"March 9, 2023","March 9, 2023 11:32 PM",Zehra,Done,NaN,50.0,NaN,0.833333
2,1,MATH 154,"March 10, 2023","March 10, 2023 1:15 PM",Zehra,Done,50.0,86.0,NaN,1.433333
4,2,MATH 116,"March 11, 2023","March 11, 2023 4:05 PM",Zehra,Done,120.0,120.0,NaN,2.000000
6,1,MATH 112,"March 11, 2023","March 11, 2023 11:28 PM",Zehra,Done,NaN,75.0,NaN,1.250000
7,2,MATH 154,"March 12, 2023","March 12, 2023 5:01 AM",Zehra,Done,NaN,200.0,NaN,3.333333
...,...,...,...,...,...,...,...,...,...,...
144,9,ENG 102,"May 13, 2023","July 13, 2023 3:51 PM",Zehra,Done,NaN,265.0,NaN,4.416667
145,10,ENG 102,"May 26, 2023","July 13, 2023 3:51 PM",Zehra,Done,NaN,85.0,NaN,1.416667
146,11,ENG 102,"June 3, 2023","July 13, 2023 3:53 PM",Zehra,Done,NaN,50.0,NaN,0.833333
147,13,ENG 102,"June 6, 2023","July 13, 2023 3:55 PM",Zehra,Done,NaN,250.0,NaN,4.166667
148,14,ENG 102,"June 10, 2023","July 13, 2023 3:56 PM",Zehra,Done,NaN,25.0,NaN,0.416667

In [461]:
# dates to datetime
zdf['Date'] = pd.to_datetime(zdf['Date'])

/var/folders/dm/vlb3lrsn2kgg0bxkkw0vb53c0000gn/T/ipykernel_1966/2475995178.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [462]:
zdf.columns

Index(['Name', 'Courses', 'Date', 'Created time', 'Person', 'Progress ',
       'Goal', 'spent-minutes', 'what you did', 'spent-hours'],
      dtype='object')

In [463]:
# drop Created time, Goal, Person,Progress columns 
zdf = zdf.drop(['Created time', 'Goal', 'Person', 'Progress '], axis=1)
zdf

    Name   Courses       Date  spent-minutes what you did  spent-hours
0      1  MATH 116 2023-03-09           50.0          NaN     0.833333
2      1  MATH 154 2023-03-10           86.0          NaN     1.433333
4      2  MATH 116 2023-03-11          120.0          NaN     2.000000
6      1  MATH 112 2023-03-11           75.0          NaN     1.250000
7      2  MATH 154 2023-03-12          200.0          NaN     3.333333
..   ...       ...        ...            ...          ...          ...
144    9   ENG 102 2023-05-13          265.0          NaN     4.416667
145   10   ENG 102 2023-05-26           85.0          NaN     1.416667
146   11   ENG 102 2023-06-03           50.0          NaN     0.833333
147   13   ENG 102 2023-06-06          250.0          NaN     4.166667
148   14   ENG 102 2023-06-10           25.0          NaN     0.416667

[124 rows x 6 columns]

In [464]:
# create graph for spent-hours and date ascending
fig = go.Figure()
fig.add_trace(go.Scatter(x=zdf['Date'], y=zdf['spent-hours'],
                    mode='lines+markers',
                    name='lines+markers'))
fig.show()

In [465]:
# create graph for spent-hours and date for only MATH 116	
math116 = zdf[zdf['Courses'] == 'MATH 116']
math154= zdf[zdf['Courses'] == 'MATH 154']
math112= zdf[zdf['Courses'] == 'MATH 112']
eng102= zdf[zdf['Courses'] == 'ENG 102']

In [466]:
# sort dates 
math116 = math116.sort_values(by=['Date'])
math154 = math154.sort_values(by=['Date'])
math112 = math112.sort_values(by=['Date'])
eng102 = eng102.sort_values(by=['Date'])
#sort zdf by dates
zdf = zdf.sort_values(by=['Date'])

In [467]:
# create subgraphs in different graphs for each course
from plotly.subplots import make_subplots
fig = go.Figure()
fig = make_subplots(rows=3, cols=2)

fig.append_trace(go.Scatter(x=zdf['Date'], y=zdf['spent-hours'],
                    mode='lines+markers',
                    name='total work time'),row=1, col=1)
fig.append_trace(go.Scatter(x=math116['Date'], y=math116['spent-hours'],
                    mode='lines+markers',
                    name='MATH 116'), row=2, col=1)
fig.append_trace(go.Scatter(x=math154['Date'], y=math154['spent-hours'],
                    mode='lines+markers',
                    name='MATH 154'), row=1, col=2)
fig.append_trace(go.Scatter(x=math112['Date'], y=math112['spent-hours'],
                    mode='lines+markers',
                    name='MATH 112'), row=2, col=2)
fig.append_trace(go.Scatter(x=eng102['Date'], y=eng102['spent-hours'],
                    mode='lines+markers',
                    name='ENG 102'), row=3, col=1)
fig.update_layout(height=1300, width=1300, title_text=" distribution of spent-hours for each course")

fig.show()

In [468]:
# calculate average spent-hours for each course
math116['spent-hours'].sum()/len(zdf['Date'].unique())/3

0.2728104575163333

In [469]:
math154['spent-hours'].sum()/len(zdf['Date'].unique())/5

0.22674509803920945

In [470]:
math112['spent-hours'].sum()/len(zdf['Date'].unique())/2

0.2941176470588176

In [471]:
eng102['spent-hours'].sum()/len(zdf['Date'].unique())

0.26470588235296466

In [472]:
math154['spent-hours'].mean()/5
math112['spent-hours'].mean()/3
eng102['spent-hours'].mean()/4

0.40178571428574994

In [473]:
# group zdf by courses and calculate average by dividing total time range to number of days
zdf.groupby('Courses')['spent-hours'].sum()/len(zdf['Date'].unique())

Courses
ENG 102     0.264706
MATH 112    0.588235
MATH 116    0.818431
MATH 154    1.133725
Name: spent-hours, dtype: float64

In [474]:
# pivot table for spent-hours and courses and dates as columns and add index 
zdf.pivot_table(index='Date', columns='Courses', values='spent-minutes', aggfunc='sum')

Courses     ENG 102  MATH 112  MATH 116  MATH 154
Date
2023-03-08      NaN      85.0       NaN       NaN
2023-03-09      NaN       NaN      50.0       NaN
2023-03-10      NaN       NaN       NaN      86.0
2023-03-11      NaN      75.0     120.0       NaN
2023-03-12      NaN       NaN       NaN     200.0
...             ...       ...       ...       ...
2023-06-18      NaN       NaN       NaN     225.0
2023-06-19      NaN       NaN       NaN     200.0
2023-06-20      NaN       NaN     300.0       NaN
2023-06-21      NaN       NaN     275.0       NaN
2023-06-22      NaN       NaN     420.0       NaN

[85 rows x 4 columns]

In [475]:
zdf['Grade'] = zdf['Courses'].map({'MATH 116': 2, 'MATH 154': 2, 'MATH 112': 3, 'ENG 102': 2.5})
zdf

,Name,Courses,Date,spent-minutes,what you did,spent-hours,Grade
45,0,MATH 112,2023-03-08,85.0,NaN,1.416667,3.0
0,1,MATH 116,2023-03-09,50.0,NaN,0.833333,2.0
2,1,MATH 154,2023-03-10,86.0,NaN,1.433333,2.0
4,2,MATH 116,2023-03-11,120.0,NaN,2.000000,2.0
6,1,MATH 112,2023-03-11,75.0,NaN,1.250000,3.0
...,...,...,...,...,...,...,...
130,50,MATH 154,2023-06-18,225.0,prev exam questions,3.750000,2.0
131,51 DONE,MATH 154,2023-06-19,200.0,final exam,3.333333,2.0
132,27,MATH 116,2023-06-20,300.0,PREV EXAM 2019,5.000000,2.0
136,28,MATH 116,2023-06-21,275.0,NaN,4.583333,2.0
137,29 done,MATH 116,2023-06-22,420.0,Prev exam questions,7.000000,2.0

In [476]:
# total divide spend minute to grade for each courses and make this diffciculty level for each courses
difficulty = zdf.groupby('Courses')['spent-hours'].sum()/zdf.groupby('Courses')['Grade'].mean()/10
difficulty

Courses
ENG 102     0.900000
MATH 112    1.666667
MATH 116    3.478333
MATH 154    4.818333
dtype: float64

In [477]:
# make difficulty dataframe
difficulty = pd.DataFrame(difficulty)
# merge this with zdf as a new column called difficulty

zdf = pd.merge(zdf, difficulty, on='Courses')
zdf.columns

Index([         'Name',       'Courses',          'Date', 'spent-minutes',
        'what you did',   'spent-hours',         'Grade',               0],
      dtype='object')

In [478]:
# rename difficulty column as difficulty level
zdf = zdf.rename(columns={0: 'difficulty'})

In [479]:
#round difficulty level to one level integer
zdf['difficulty'] = zdf['difficulty'].round(0)
zdf

,Name,Courses,Date,spent-minutes,what you did,spent-hours,Grade,difficulty
0,0,MATH 112,2023-03-08,85.0,NaN,1.416667,3.0,2.0
1,1,MATH 112,2023-03-11,75.0,NaN,1.250000,3.0,2.0
2,2,MATH 112,2023-03-13,125.0,I solved the suggested exercises in the book. ...,2.083333,3.0,2.0
3,3,MATH 112,2023-03-15,25.0,NaN,0.416667,3.0,2.0
4,4,MATH 112,2023-03-17,50.0,NaN,0.833333,3.0,2.0
...,...,...,...,...,...,...,...,...
119,10,ENG 102,2023-05-26,85.0,NaN,1.416667,2.5,1.0
120,11,ENG 102,2023-06-03,50.0,NaN,0.833333,2.5,1.0
121,12,ENG 102,2023-06-04,225.0,Essay,3.750000,2.5,1.0
122,13,ENG 102,2023-06-06,250.0,NaN,4.166667,2.5,1.0
123,14,ENG 102,2023-06-10,25.0,NaN,0.416667,2.5,1.0

In [480]:
# group by difficulty level
zdf.groupby('Courses')['difficulty'].mean()

Courses
ENG 102     1.0
MATH 112    2.0
MATH 116    3.0
MATH 154    5.0
Name: difficulty, dtype: float64

In [481]:
# get prev_term data from data folder
prev_term = pd.read_csv('/Users/zehrakaya/Documents/GitHub/study-analysis/data/prev_term.csv')
# rename task column as Courses
prev_term = prev_term.rename(columns={'TASK': 'Courses'})
prev_term = prev_term.rename(columns={'TIME FOCUSED': 'spent-hours'})
prev_term.loc[prev_term['Courses'].str.contains('Math 111'), 'Courses'] = 'MATH 111'
# prev term find MATH 111

In [482]:
prev_term['Grade'] = prev_term['Courses'].map({'MATH 111': 2.5, 'MATH 153': 1.5,  'ENG': 4, 'PHYS 111': 1})
prev_term

           DATE   Courses  spent-hours  Grade
0    2023-01-19       ENG         25.0    4.0
1    2023-01-18       ENG          6.0    4.0
2    2023-01-17  MATH 111         25.0    2.5
3    2023-01-17  MATH 111         25.0    2.5
4    2023-01-17  MATH 111         25.0    2.5
..          ...       ...          ...    ...
952  2022-03-04  PHYS 111         25.0    1.0
953  2022-03-04  PHYS 111         25.0    1.0
954  2022-03-04  PHYS 111         25.0    1.0
955  2022-03-04  PHYS 111         25.0    1.0
956  2022-02-28  PHYS 111         25.0    1.0

[957 rows x 4 columns]

In [483]:
# total divide spend minute to grade for each courses and make this diffciculty level for each courses
difficulty_prev = prev_term.groupby('Courses')['spent-hours'].sum()/60/prev_term.groupby('Courses')['Grade'].mean()/10
difficulty_prev

Courses
ENG          0.886250
MATH 111     2.574000
MATH 115          NaN
MATH 153     7.392222
PHYS 111    14.148333
dtype: float64

In [484]:
# make difficulty dataframe
difficulty_prev = pd.DataFrame(difficulty_prev)
# merge this with zdf as a new column called difficulty

prev_term = pd.merge(prev_term, difficulty_prev, on='Courses')
prev_term.columns
# rename difficulty column as difficulty level
prev_term = prev_term.rename(columns={0: 'difficulty'})

In [485]:
#round difficulty level to one level integer
prev_term['difficulty'] = prev_term['difficulty'].round(0)
prev_term

           DATE   Courses  spent-hours  Grade  difficulty
0    2023-01-19       ENG         25.0    4.0         1.0
1    2023-01-18       ENG          6.0    4.0         1.0
2    2023-01-13       ENG         25.0    4.0         1.0
3    2023-01-13       ENG         25.0    4.0         1.0
4    2023-01-13       ENG         25.0    4.0         1.0
..          ...       ...          ...    ...         ...
952  2022-03-04  PHYS 111         25.0    1.0        14.0
953  2022-03-04  PHYS 111         25.0    1.0        14.0
954  2022-03-04  PHYS 111         25.0    1.0        14.0
955  2022-03-04  PHYS 111         25.0    1.0        14.0
956  2022-02-28  PHYS 111         25.0    1.0        14.0

[957 rows x 5 columns]

In [486]:
# group by difficulty level
prev_term.groupby('Courses')['difficulty'].mean()

Courses
ENG          1.0
MATH 111     3.0
MATH 115     NaN
MATH 153     7.0
PHYS 111    14.0
Name: difficulty, dtype: float64

In [ ]:

# create subgraphs in different graphs for each course in prev_term
from plotly.subplots import make_subplots
fig = go.Figure()
fig = make_subplots(rows=3, cols=2)

fig.append_trace(go.Scatter(x=prev_term['Date'], y=prev_term['spent-hours'],
                    mode='lines+markers',
                    name='total work time'),row=1, col=1)
fig.append_trace(go.Scatter(x=math111['Date'], y=math116['spent-hours'],
                    mode='lines+markers',
                    name='MATH 116'), row=2, col=1)
fig.append_trace(go.Scatter(x=math154['Date'], y=math154['spent-hours'],
                    mode='lines+markers',
                    name='MATH 154'), row=1, col=2)
fig.append_trace(go.Scatter(x=math112['Date'], y=math112['spent-hours'],
                    mode='lines+markers',
                    name='MATH 112'), row=2, col=2)
fig.append_trace(go.Scatter(x=eng102['Date'], y=eng102['spent-hours'],
                    mode='lines+markers',
                    name='ENG 102'), row=3, col=1)
fig.update_layout(height=1300, width=1300, title_text=" distribution of spent-hours for each course")

fig.show()