In [11]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objs as go

In [12]:
df = pd.read_csv('/Users/zehrakaya/Documents/GitHub/study-analysis/data/STUDYLOG.csv')

In [13]:
df

,Name,Courses,Created time,Date,Day,Goal,Person,Progress,spent-hours,spent-minutes,what you did
0,29 done,MATH 116,"June 22, 2023 3:02 PM","June 22, 2023",NaN,NaN,Zehra,Done,7.000000,420.0,Prev exam questions
1,Recitation 2,Modern Physics,"June 22, 2023 11:47 AM","June 22, 2023",NaN,NaN,Fatih,NaN,1.000000,60.0,NaN
2,28,MATH 116,"June 22, 2023 3:00 PM","June 21, 2023",NaN,NaN,Zehra,Done,4.583333,275.0,NaN
3,Recitation,Modern Physics,"June 21, 2023 6:53 PM","June 21, 2023",NaN,NaN,Fatih,NaN,1.250000,75.0,NaN
4,Project,Assessment,"June 20, 2023 9:13 PM","June 20, 2023 → June 20, 2023",NaN,NaN,Fatih,NaN,0.666667,40.0,Project Part 2 İtem analysisi
...,...,...,...,...,...,...,...,...,...,...,...
133,0,MATH 112,"April 5, 2023 10:58 AM","March 8, 2023",NaN,NaN,Zehra,Done,1.416667,85.0,NaN
134,DAY 0,PHYS 112,"March 9, 2023 11:52 PM","March 8, 2023",NaN,NaN,Hosna Roufaida,Done,0.500000,30.0,NaN
135,NaN,NaN,"May 31, 2023 1:35 AM",NaN,NaN,NaN,"Hosna Roufaida, Zehra",NaN,0.000000,NaN,NaN
136,NaN,MATH 116,"May 12, 2023 2:07 PM",NaN,NaN,NaN,Zehra,NaN,0.000000,NaN,NaN
137,NaN,MATH 112,"April 10, 2023 3:35 PM",NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN

In [14]:
# get only the Person Zehra's data 
zdf = df[df['Person'] == 'Zehra']

In [15]:
zdf

,Name,Courses,Created time,Date,Day,Goal,Person,Progress,spent-hours,spent-minutes,what you did
0,29 done,MATH 116,"June 22, 2023 3:02 PM","June 22, 2023",NaN,NaN,Zehra,Done,7.000000,420.0,Prev exam questions
2,28,MATH 116,"June 22, 2023 3:00 PM","June 21, 2023",NaN,NaN,Zehra,Done,4.583333,275.0,NaN
5,27,MATH 116,"June 20, 2023 3:31 PM","June 20, 2023",NaN,NaN,Zehra,Done,5.000000,300.0,PREV EXAM 2019
8,51 DONE,MATH 154,"June 20, 2023 3:27 PM","June 19, 2023",NaN,NaN,Zehra,Done,3.333333,200.0,final exam
9,50,MATH 154,"June 20, 2023 3:26 PM","June 18, 2023",NaN,NaN,Zehra,Done,3.750000,225.0,prev exam questions
...,...,...,...,...,...,...,...,...,...,...,...
129,2,MATH 116,"March 11, 2023 4:05 PM","March 11, 2023",NaN,120.0,Zehra,Done,2.000000,120.0,NaN
131,1,MATH 154,"March 10, 2023 1:15 PM","March 10, 2023",NaN,50.0,Zehra,Done,1.433333,86.0,NaN
132,1,MATH 116,"March 9, 2023 11:32 PM","March 9, 2023",NaN,NaN,Zehra,Done,0.833333,50.0,NaN
133,0,MATH 112,"April 5, 2023 10:58 AM","March 8, 2023",NaN,NaN,Zehra,Done,1.416667,85.0,NaN
136,NaN,MATH 116,"May 12, 2023 2:07 PM",NaN,NaN,NaN,Zehra,NaN,0.000000,NaN,NaN

In [17]:
# drop Day column
zdf = zdf.drop(['Day'], axis=1)
zdf

,Name,Courses,Created time,Date,Goal,Person,Progress,spent-hours,spent-minutes,what you did
0,29 done,MATH 116,"June 22, 2023 3:02 PM","June 22, 2023",NaN,Zehra,Done,7.000000,420.0,Prev exam questions
2,28,MATH 116,"June 22, 2023 3:00 PM","June 21, 2023",NaN,Zehra,Done,4.583333,275.0,NaN
5,27,MATH 116,"June 20, 2023 3:31 PM","June 20, 2023",NaN,Zehra,Done,5.000000,300.0,PREV EXAM 2019
8,51 DONE,MATH 154,"June 20, 2023 3:27 PM","June 19, 2023",NaN,Zehra,Done,3.333333,200.0,final exam
9,50,MATH 154,"June 20, 2023 3:26 PM","June 18, 2023",NaN,Zehra,Done,3.750000,225.0,prev exam questions
...,...,...,...,...,...,...,...,...,...,...
129,2,MATH 116,"March 11, 2023 4:05 PM","March 11, 2023",120.0,Zehra,Done,2.000000,120.0,NaN
131,1,MATH 154,"March 10, 2023 1:15 PM","March 10, 2023",50.0,Zehra,Done,1.433333,86.0,NaN
132,1,MATH 116,"March 9, 2023 11:32 PM","March 9, 2023",NaN,Zehra,Done,0.833333,50.0,NaN
133,0,MATH 112,"April 5, 2023 10:58 AM","March 8, 2023",NaN,Zehra,Done,1.416667,85.0,NaN
136,NaN,MATH 116,"May 12, 2023 2:07 PM",NaN,NaN,Zehra,NaN,0.000000,NaN,NaN