# Cleaning Data

In [6]:
##Import Libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

# read excel file 
df = pd.read_excel("data/masterlistdatacopy.xlsx")

# delete rows with nan values
df.dropna(how='all', inplace=True) 

# Fill NaN values in the TASK column 
df['TASK'] = df['TASK'].interpolate(method ='pad', limit_direction ='forward')

# to find the dates in the TASK column
dates_in_task_col = df['TASK'].str.contains('---')

# to get indexes of the dates in the TASK column
get_idx = dates_in_task_col[dates_in_task_col == True].index 

# Fill NaN values by copying the dates in the TASK column to DATE column
df['DATE'] = df['TASK'].loc[get_idx].interpolate()

# Fill NaN values in the DATE column
df['DATE'] = df['DATE'].interpolate(method ='pad', limit_direction ='forward')

# delete if any row include nan values
df.dropna(how='any',axis=0, inplace=True)

##  fix typs of dates ##

# delete ' - ' s in 'DATE' columnn
df['DATE'] = df['DATE'].str.strip(' - ')

# **** #

# find values containing'2022' in DATE column
findY = df['DATE'].str.contains('2022')

# get indexes that are not containing'2022'
getFalse = findY[findY == False].index

# format dates
a = pd.to_datetime(df['DATE'].loc[getFalse], format='%d %B %a')+ pd.offsets.DateOffset(years=123) # this is because formating returns years as 1900 so it adds 123 years to the default value

# update data
df['DATE'].update(a)

# **** #

# get indexes containing'2022'
getTrue = findY[findY == True].index 

# format dates
b =  pd.to_datetime(df['DATE'].loc[getTrue], format='%d %b %Y %a')

# update data
df['DATE'].update(b)

# **** #

# show only dates not times
df['DATE'] = pd.to_datetime(df['DATE']).dt.date 

df.head(60)

,DATE,TASK,NUMBER,START,END,TIME FOCUSED,COMPLETED
3,2023-01-22,first draft,03:00:00,15:35:00,16:00:00,25.0,✅
4,2023-01-22,first draft,02:00:00,15:10:00,15:35:00,25.0,✅
5,2023-01-22,first draft,01:00:00,14:09:00,14:46:00,25.0,✅
11,2023-01-21,web,02:00:00,01:44:00,02:04:00,19.0,❌
12,2023-01-21,web,01:00:00,01:19:00,01:44:00,25.0,✅
18,2023-01-19,Eng,01:00:00,11:02:00,13:01:00,25.0,✅
24,2023-01-18,Eng,01:00:00,17:57:00,18:03:00,6.0,❌
30,2023-01-17,Math 111,11:00:00,12:21:00,12:46:00,25.0,✅
31,2023-01-17,Math 111,10:00:00,11:56:00,12:21:00,25.0,✅
32,2023-01-17,Math 111,09:00:00,11:30:00,11:54:00,25.0,✅
33,2023-01-17,Math 111,08:00:00,08:11:00,08:36:00,25.0,✅
34,2023-01-17,Math 111,07:00:00,04:55:00,05:09:00,13.0,❌
35,2023-01-17,Math 111,06:00:00,03:38:00,04:03:00,25.0,✅
36,2023-01-17,Math 111,05:00:00,03:13:00,03:38:00,25.0,✅
37,2023-01-17,Math 111,04:00:00,02:42:00,03:07:00,25.0,✅
38,2023-01-17,Math 111,03:00:00,01:17:00,01:42:00,25.0,✅
39,2023-01-17,Math 111,02:00:00,00:52:00,01:17:00,25.0,✅
40,2023-01-17,Math 111,01:00:00,00:07:00,00:32:00,25.0,✅
46,2023-01-16,Math 111,07:00:00,22:21:00,22:46:00,25.0,✅
47,2023-01-16,Math 111,06:00:00,21:55:00,22:20:00,25.0,✅
48,2023-01-16,Math 111,05:00:00,21:30:00,21:55:00,25.0,✅
52,2023-01-16,Py data analysis,04:00:00,21:26:00,21:30:00,4.0,❌
56,2023-01-16,Math 111,03:00:00,21:23:00,21:26:00,2.0,❌
57,2023-01-16,Math 111,02:00:00,11:32:00,11:57:00,25.0,✅
58,2023-01-16,Math 111,01:00:00,10:58:00,11:23:00,25.0,✅
64,2023-01-15,Math 111,14:00:00,13:19:00,13:41:00,25.0,✅
65,2023-01-15,Math 111,13:00:00,12:54:00,13:19:00,25.0,✅
66,2023-01-15,Math 111,12:00:00,12:29:00,12:54:00,25.0,✅
67,2023-01-15,Math 111,11:00:00,11:06:00,12:28:00,25.0,✅
68,2023-01-15,Math 111,10:00:00,06:36:00,11:00:00,25.0,✅
69,2023-01-15,Math 111,09:00:00,06:29:00,06:29:00,7.0,❌
70,2023-01-15,Math 111,08:00:00,05:14:00,05:39:00,25.0,✅
71,2023-01-15,Math 111,07:00:00,04:48:00,05:13:00,25.0,✅
72,2023-01-15,Math 111,06:00:00,04:23:00,04:48:00,25.0,✅
73,2023-01-15,Math 111,05:00:00,03:32:00,04:21:00,25.0,✅
74,2023-01-15,Math 111,04:00:00,03:06:00,03:31:00,25.0,✅
75,2023-01-15,Math 111,03:00:00,02:36:00,03:06:00,25.0,✅
76,2023-01-15,Math 111,02:00:00,00:31:00,00:56:00,25.0,✅
77,2023-01-15,Math 111,01:00:00,23:52:00,00:06:00,14.0,❌
83,2023-01-14,Math 111,11:00:00,21:26:00,21:51:00,25.0,✅
84,2023-01-14,Math 111,10:00:00,21:00:00,21:25:00,25.0,✅
85,2023-01-14,Math 111,09:00:00,19:05:00,19:30:00,25.0,✅
86,2023-01-14,Math 111,08:00:00,18:35:00,19:00:00,25.0,✅
87,2023-01-14,Math 111,07:00:00,18:09:00,18:34:00,25.0,✅
88,2023-01-14,Math 111,06:00:00,17:40:00,18:09:00,25.0,✅
92,2023-01-14,MATH 115,05:00:00,10:17:00,10:52:00,3.0,❌
93,2023-01-14,MATH 115,04:00:00,09:52:00,10:17:00,25.0,✅
97,2023-01-14,Programming,03:00:00,03:05:00,03:24:00,9.0,❌
98,2023-01-14,Programming,02:00:00,02:36:00,03:01:00,25.0,✅
99,2023-01-14,Programming,01:00:00,02:07:00,02:32:00,25.0,✅
105,2023-01-13,Eng,04:00:00,04:05:00,04:30:00,25.0,✅
106,2023-01-13,Eng,03:00:00,01:51:00,04:04:00,25.0,✅
107,2023-01-13,Eng,02:00:00,00:19:00,00:44:00,25.0,✅
108,2023-01-13,Eng,01:00:00,23:54:00,00:19:00,25.0,✅
114,2023-01-12,Eng,04:00:00,23:48:00,23:54:00,5.0,❌
115,2023-01-12,Eng,03:00:00,18:49:00,23:48:00,10.0,❌
116,2023-01-12,Eng,02:00:00,18:24:00,18:49:00,25.0,✅
117,2023-01-12,Eng,01:00:00,17:42:00,18:07:00,25.0,✅
123,2023-01-11,MATH 153,05:00:00,09:44:00,09:56:00,11.0,❌
124,2023-01-11,MATH 153,04:00:00,09:10:00,09:35:00,25.0,✅

In [7]:
df_copy = df.copy()


df_copy.loc[df_copy['TASK'].str.contains('153'), 'TASK'] = 'MATH 153'
df_copy.loc[df_copy['TASK'].str.contains('April|March|February|Revision|Eng'), 'TASK'] = 'Eng revision'
df_copy.loc[df_copy['TASK'].str.contains('Py'), 'TASK'] = 'Python'

time_spent = df_copy.groupby(['TASK']).sum()
time_spent.sort_values(by=['TIME FOCUSED'], ascending= False).head(10)

                   TIME FOCUSED
TASK
React                    7566.0
MATH 153                 6653.0
firebase                 6501.0
Javascript               4301.0
Math 111                 3861.0
Eng revision             3819.0
PHYS 111                 3638.0
rebuidling               2701.0
学习中文                     2060.0
Machine Learning         1881.0

In [8]:
checklist = pd.Series(['MATH', 'PHYS','IELTS','English',
               'Drone Simulation','Habbits & Hobbies',
               '中国','game - JavaScript','College Admission', 
               'Chess-Like Game', 'Python Programming','Volunteer Works'])
checklist

0                   MATH
1                   PHYS
2                  IELTS
3                English
4       Drone Simulation
5      Habbits & Hobbies
6                     中国
7      game - JavaScript
8      College Admission
9        Chess-Like Game
10    Python Programming
11       Volunteer Works
dtype: object

In [9]:
df_copy['CHECKLIST'] = np.nan
df_copy

,DATE,TASK,NUMBER,START,END,TIME FOCUSED,COMPLETED,CHECKLIST
3,2023-01-22,first draft,03:00:00,15:35:00,16:00:00,25.0,✅,NaN
4,2023-01-22,first draft,02:00:00,15:10:00,15:35:00,25.0,✅,NaN
5,2023-01-22,first draft,01:00:00,14:09:00,14:46:00,25.0,✅,NaN
11,2023-01-21,web,02:00:00,01:44:00,02:04:00,19.0,❌,NaN
12,2023-01-21,web,01:00:00,01:19:00,01:44:00,25.0,✅,NaN
...,...,...,...,...,...,...,...,...
6408,2022-02-28,Eng revision,05:00:00,08:28:00,08:53:00,25.0,✅,NaN
6412,2022-02-28,Workshop,04:00:00,06:43:00,07:08:00,25.0,✅,NaN
6416,2022-02-28,IELTS,03:00:00,05:42:00,06:07:00,25.0,✅,NaN
6417,2022-02-28,IELTS,02:00:00,05:05:00,05:30:00,25.0,✅,NaN
6418,2022-02-28,IELTS,01:00:00,04:25:00,04:50:00,25.0,✅,NaN

In [ ]:
df_copy.loc[df_copy['TASK'].str.contains('Py|Numpy|Academy'), 'CHECKLIST'] = checklist[10]

# Pie Chart

## Create Data for Pie Chart

In [ ]:
pie_data = df_copy[['TIME FOCUSED','TASK','DATE']].copy()

start_date = pd.to_datetime('2022-06-12')
end_date = pd.to_datetime('2023-01-22')

pie_data = pie_data[(pie_data['DATE'] >= start_date) & (pie_data['DATE'] <= end_date)]
pie_data = pie_data.groupby('TASK')['TIME FOCUSED'].sum().reset_index()
pie_data = pie_data.sort_values(by='TIME FOCUSED',ascending= False ).head()

## Seaborn % matplotlib.pyplot codes

In [ ]:
plt.figure(figsize=(20, 20))
sns.set_palette("pastel")
sns.set(font_scale=1.2)
sns.set_style("whitegrid")
plt.title('Time Focused by Task')

plt.pie(pie_data['TIME FOCUSED'], labels=pie_data['TASK'], autopct='%1.1f%%', startangle=90)
plt.axis('equal')
plt.show()