In [55]:
##Import Libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objs as go

# read excel file 
df = pd.read_excel("data/new_trial.xlsx")

In [56]:
df.index

RangeIndex(start=0, stop=1656, step=1)

In [57]:
df.describe()

,Project/Checklist:,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
count,345,734,734,734,734,734
unique,172,20,530,533,25,2
top,Task: Math 154,01:00:00,20:24:00,19:41:00,Min: 25,✅
freq,30,94,4,5,636,650

In [58]:
# find the index of thet contains ("Creation Date:")
df[df['Project/Checklist:'].str.contains("Creation Date: ")==True].index

# df['Project/Checklist:'].str.contains("Creation Date:")

Int64Index([13], dtype='int64')

In [59]:
df['Project/Checklist:']= df['Project/Checklist:'].str.split("Creation Date: ")

In [60]:
df['Project/Checklist:'][13]= df['Project/Checklist:'][13][1]

In [61]:
today = df['Project/Checklist:'][13]

In [62]:
# get the value in the 13th index of the list and replace "Today" with that value
df['Project/Checklist:'].str[13].replace("Today",today)

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
1651    NaN
1652    NaN
1653    NaN
1654    NaN
1655    NaN
Name: Project/Checklist:, Length: 1656, dtype: object

In [64]:
df['Project/Checklist:']

0                                              [MATH]
1                                                 NaN
2                  [Total time: 130 hours 54 minutes]
3                                                 NaN
4                                             [Task:]
                            ...
1651                                              NaN
1652                                              NaN
1653                                              NaN
1654    [This report is created with Masterlist Pro.]
1655                   [http://www.masterlistapp.com]
Name: Project/Checklist:, Length: 1656, dtype: object

In [65]:
df

,Project/Checklist:,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,[MATH],NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,[Total time: 130 hours 54 minutes],NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,[Task:],NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
1651,NaN,01:00:00,12:11:00,13:57:00,Min: 25,✅
1652,NaN,NaN,NaN,NaN,NaN,NaN
1653,NaN,NaN,NaN,NaN,NaN,NaN
1654,[This report is created with Masterlist Pro.],NaN,NaN,NaN,NaN,NaN
1655,[http://www.masterlistapp.com],NaN,NaN,NaN,NaN,NaN